.button-container {
    margin: 1em;
}

.button-container button {
    padding: .1615em .75em;
    display: flex;
    align-items: center;
    gap: .8em;
    background: var(--fourth-color);
    border: .05em solid var(--third-color);
    border-radius: .8em;
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: bold;
    font-family: var(--main-font);
    box-shadow: .125em .125em .125em rgba(0, 0, 0, 0.2);
    transition: all ease-in-out 0.2s;
    cursor: pointer;
}

.button-container button:hover {
    background: var(--third-color);
    color: #000000;
    border: .1em solid var(--fourth-color);
}

.button-container button p {
    padding-top: .325em;
}

@media (max-width: 700px) and (orientation: portrait) {

    .button-container {
        margin: 0 auto;
        position: absolute;
        top: 32%;
        left: 5%;
    }

    .button-container button {
        padding: .5em;
        border-radius: 50%;
    }

    .button-container button p {
        display: none;
    }
}