.logout-container {
    margin: 1em;
}

.logout-container button {
    padding: .325em .75em;
    display: flex;
    align-items: center;
    gap: .8em;
    background: var(--fourth-color);
    border: .05em solid var(--third-color);
    border-radius: .8em;
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: bold;
    font-family: var(--main-font);
    box-shadow: .125em .125em .125em rgba(0, 0, 0, 0.2);
    transition: all ease-in-out 0.2s;
    cursor: pointer;
}

.logout-container button:hover {
    background: var(--third-color);
    color: #000000;
    border: .1em solid var(--fourth-color);
}

.logout-container button p {
    padding-top: .325em;
}