.vaccines-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 5rem;
  background-color: var(--primary-color);
  border-radius: 1rem;
}

.vaccines-info h3 {
  font-size: 1.6rem;
  font-family: var(--main-font);
  margin: 3rem;
  color: var(--fourth-color);
}

.vaccines-info img {
  max-width: 90%;
  margin-bottom: 5rem;
}