.vaccines-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 5rem auto;
  background-color: var(--primary-color);
  border-radius: 1rem;
}

.vaccines-info h3 {
  font-size: 1.6rem;
  font-family: var(--main-font);
  margin: 3rem;
  color: var(--fourth-color);
}

.vaccines-info img {
  max-width: 90%;
  margin-bottom: 5rem;
  transition: all ease-in-out .5s;
}

.vaccines-info img:hover {
  transform: scale(1.7);
}

@media (min-width: 700px) and (orientation: landscape){
  .vaccines-info {
      max-width: 730px;
  }
}