.container {
    height: 100%;
    background-color: var(--bg-color);
    padding: 2em;
    position: relative;
    min-width: 375px;
}

.container h2 {
    font-size: 2rem;
    font-family: var(--main-font);
    color: var(--fourth-color);
    text-align: center;
}

.main-container {
    display: flex;
    align-items: stretch;
    gap: 5%;
}

.main-container .left-container  {
    width: 100%;
}

.main-container .right-container {
    width: 100%;
    min-height: 50%;
}

.achievements-list-container .level-header {
    font-size: 8.75rem;
    font-weight: 600;
    color: var(--fourth-color);
    background: url('/levelup.svg') no-repeat center;
    background-size: contain;
    display: flex;
    justify-content: center;
}

/* .achievements-list-container > .header > strong {
    font-family: var(--main-font);
} */

.achievements-list-container {
    padding: 2rem 3rem;
    width: 100%;
    min-width: 40%;
    background-color: var(--primary-color);
    border-radius: 8px;
    margin-top: 1rem;
    text-align: center;
}

.achievements-list-container .achievements-list-title,
.empty-list-message {
    font-family: var(--main-font);
    text-align: center;
    padding-top: 1rem;
    color: var(--fourth-color)
}

.achievements-list-title-right {
    font-family: var(--main-font);
    text-align: center;
    color: var(--fourth-color)
}

.achievements-list {
    list-style: none;
    display: flex;
    padding: 0 0 2rem 2rem ;
    flex-direction: column;
}

.achievement-item .xp-amount {
    color: green;
    font-weight: bold;
}

.achievement-item {
    font-family: var(--main-font);
}

.achievement-item-completed,
.achievement-item-completed .xp-amount {
    color: grey;
    text-decoration: line-through;
}

.achievement {
    display: flex;
    align-items: center;
    gap: .5rem;
}

ul {
    margin-top: 1rem;
}


@media(max-width: 768px) {
    .main-container {
        flex-direction: column-reverse;
    }

    .achievements-list-container {
        padding-left: 0;
        padding-right: 0; 
    }
    ul.achievements-list {
        padding-left: 8px;
    }

    li {
        font-size: 12px;
    }

    .achievements-list-container .level-header {
        width: 100%;
    }
}