.header {
    background-color: var(--primary-color);
}

.main-container {
    display: flex;
    align-items: center;
}

.main-container img {
    width: 80px;
    height: 80px;
    margin: 15px 30px;
}

.main-container span {
    font-size: 48px;
    font-weight: bold;
    color: var(--third-color);
}