.header {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-container {
    display: flex;
    align-items: center;
}

.main-container img {
    width: 80px;
    height: 80px;
    margin: 15px 30px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.7));
    color: var(--fourth-color);
}

.main-container h1 {
    font-size: 48px;
    font-weight: bold;
    font-family: var(--main-font);
    color: var(--fourth-color);
    text-shadow: .125rem .125rem .125rem rgba(0, 0, 0, 0.3);
}

.logout-container {
    margin: 30px;
}

.logout-container button {
    padding: .325rem .75rem;
    display: flex;
    align-items: center;
    gap: 8px;
    background: var(--fourth-color);
    border: 1px solid var(--third-color);
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    font-family: var(--main-font);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out 0.2s;
    cursor: pointer;
}

.logout-container button:hover {
    background: var(--third-color);
    color: #000000;
    border: 1px solid var(--fourth-color);
}

.logout-container button p {
    padding-top: .325rem;

}

