.content {
    height: 100vh;
    width: auto;
    min-width: 475px;
    position: relative;
    padding-left: 4em;
}

.content img {
    width: 25%;
    min-width: 17em;
    filter: drop-shadow(0.25rem 0.25rem 0.125rem rgba(0, 0, 0, 0.7));
    /* bottom: -7rem; */
    margin: -5%;
}

.main {
    width: 30%;
    height: 75%;
    min-width: 22em;
    min-height: 32em;
    max-width: 30em;
    max-height: 40em;
    background: linear-gradient(to top, #FFFFFF, #FFFFFF, var(--bg-color), var(--primary-color), var(--secondary-color), var(--third-color), var(--fourth-color));
    overflow: hidden;
    border-radius: 1.5em;
    box-shadow: 0.5em 2em 5em #000;
}

#chk {
    display: none;
}

.signup {
    position: relative;
    width: 100%;
    height: 100%;
}

.label-signup, .label-login {
    color: #FFF;
    font-size: 2.3em;
    font-family: var(--main-font);
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: 1em;
    cursor: pointer;
    transition: ease-in-out 0.5s;
}

.input-fullName,
.input-email,
.input-password {
    width: 60%;
    height: 20px;
    background: #E0DEDE;
    display: flex;
    justify-content: center;
    font-family: var(--main-font);
    margin: 20px auto;
    padding: 16px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.signup-button,
.login-button {
    width:60%;
    height: 32px;
    margin: 0 auto;
    display: block;
    justify-content: center;
    color: #FFF;
    background: var(--fourth-color);
    font-size: 1em;
    font-weight: bold;
    font-family: var(--main-font);
    outline: none;
    border: none;
    border-radius: 5px;
    transition: ease-in-out 0.2s;
    cursor: pointer;
}

.signup-button:hover,
.login-button:hover {
    background: var(--third-color);
    color: #000000;
}

.login {
    height: 100%;
    background: #FFF;
    border-radius: 60% / 10%;
    transform: translateY(-30%);
    transition: ease-in-out 0.8s;
}

.login .label-login {
    color: var(--fourth-color);
    transform: scale(.6);
    padding-top: 16px;
}

#chk:checked ~ .login {
    transform: translateY(-95%);
}

#chk:checked ~ .login .label-login {
    transform: scale(1);
}

#chk:checked ~ .signup .label-signup {
    transform: scale(.6);
}
@media (max-width: 700px) and (orientation: portrait){
    .content {
        background-position-y: top;
        background-size: contain;
    }
    .content img {

        margin: 3%;
        margin-left: -29%;
    }
}
@media (max-width: 700px) and (orientation: landscape){
    .content {
        padding: 1em;
    }
    .content img {
        height: min-content;
        position: fixed;
        right: 0;
    }
    .signup {
        margin-bottom: 1em;
    }
}