* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #A9F04D;
    --primary-color: #3DDB8F;
    --secondary-color: #2CB8B2;
    --third-color: #268FBE;
    --fourth-color: #551BB3;
}