.container {
    height: 100%;
    background-color: var(--bg-color);
    padding: 30px;
    position: relative;
}

.container h2 {
    font-size: 32px;
    font-family: var(--main-font);
    color: var(--fourth-color);
    text-align: center;
}

.pet-registration {
    margin: 1.5rem auto;
    max-width: 60%;
    padding: 3rem 7.5rem;
    background-color: var(--primary-color);
    border-radius: 1rem;
}

.pet-registration h3 {
    text-align: center;
    font-family: var(--main-font);
    font-size: 1.6rem;
    color: var(--fourth-color);
    margin-bottom: 1.5rem;
}

.pet-registration fieldset {
    border: none;
}

.pet-registration .field {
    display: flex;
    flex-direction: column;
}

.pet-registration .petGender {
  display: flex;
  align-items: center;
}

.pet-registration .hasChip {
  margin-top: 1.5rem;
}

.pet-registration label {
    color: var(--fourth-color);
    font-family: var(--main-font);
    margin: .7rem .7rem 0 0;
}

.pet-registration label select {
    padding: .5rem;
    border: 1px solid var(--fourth-color);
    border-radius: .5rem;
    margin: .7rem;
    font-family: var(--main-font);
    font-size: 1rem;
}

.pet-registration input {
    padding: .7rem;
    border: 1px solid var(--fourth-color);
    border-radius: .5rem;
    font-family: var(--main-font);
    font-size: 1rem;
}

.pet-registration .vaccines {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
}

.pet-registration .vaccines .title {
    font-size: 1.5rem;
    margin: 0 auto;
}

.pet-registration .btn-pet-submit {
  align-self: center;
  margin: 3rem 2rem;
  background-color: var(--fourth-color);
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1.5rem;
  transition: all ease-in-out .2s;
}

.pet-registration .btn-pet-submit:hover {
   background-color: var(--third-color);
   color: #000000;
   border: 1px solid var(--fourth-color);
}






